<div class="ui form">
  <div class="field">
    <label>Title</label>
    <input></input>
  </div>
  <div class="field">
    <label>Short Text</label>
    <textarea rows="2"></textarea>
  </div>
</div>
