<div class="ui inverted grid">
  <div class="row center-aligned">
  <br>
  <br>
  <br>
  <br>
  <br>
    <h2 class="ui center aligned icon header">
      <i class="attach icon"></i>
      Turing Box
    </h2>
  </div>
  <div class="one wide column">
  </div>
  <div class="four wide column">
    <%= render partial: "new_form" %>
  </div>

  <div class="one wide column">
  </div>
  <div class="eight wide column">
    <%= render partial: "search" %>
    <br>
    <br>
    <br>
    <div class="ui relaxed divided item list" id="recent-ideas">
    </div>
  </div>
  <div class="two wide column">
  </div>
</div>

