@import "semantic-ui";

.ui.grid {
  padding: 15px;
}

.ui.form {
  padding: 15px;
  background-color: lightgrey;
}
.invisible{
  display: none;
}

.thumbs.up, .thumbs.down{
  cursor: pointer; cursor: hand; 
}
